extends layout.pug

block body

  // FIRST PARALLAX
  div(class='parallax-container parallax-1')
    div(class='parallax')
      img(src='/public/img/parallax1.png')
    div(class='valign-wrapper')
      img(class='circle responsive-img me' src='/public/img/me.png')

  // SKILLS
  div(id='skills' class='section container center-align scrollspy')
    div(class='row center-align')
      h2 My name is Alvin Lin
      +divider
      h4 I am a software developer from New York City. I work with:

    ul(class='row')
      li(class='row')
        +skillsetImage('col s4 skillset', '/public/img/html.png')
        +skillsetImage('col s4 skillset', '/public/img/css.png')
        +skillsetImage('col s4 skillset', '/public/img/js.png')
      li(class='row')
        +skillsetImage('col s6 skillset', '/public/img/nodejs.png')
        +skillsetImage('col s6 skillset', '/public/img/python.png')
      li(class='row')
        +skillsetImage('col s6 skillset', '/public/img/sql.png')
        +skillsetImage('col s6 skillset', '/public/img/mongodb.png')
      li(class='row hide-on-med-and-down')
        +skillsetImage('col l2 skillset', '/public/img/aws.png')
        +skillsetImage('col l2 skillset', '/public/img/digitalocean.png')
        +skillsetImage('col l2 skillset', '/public/img/heroku.png')
        +skillsetImage('col l2 skillset', '/public/img/git.png')
        +skillsetImage('col l2 skillset', '/public/img/ubuntu.png')
        +skillsetImage('col l2 skillset', '/public/img/android.png')
      li(class='row hide-on-large-only')
        +skillsetImage('col s4 skillset', '/public/img/aws.png')
        +skillsetImage('col s4 skillset', '/public/img/digitalocean.png')
        +skillsetImage('col s4 skillset', '/public/img/heroku.png')
      li(class='row hide-on-large-only')
        +skillsetImage('col s4 skillset', '/public/img/git.png')
        +skillsetImage('col s4 skillset', '/public/img/ubuntu.png')
        +skillsetImage('col s4 skillset', '/public/img/android.png')
      li(class='row')
        +skillsetImage('col s12 l12 skillset', '/public/img/unity.png')

    +divider

    div(class='section center-align')
      a(
        class='btn-large waves-effect waves-light blue-grey darken-2'
        href='/public/resume.pdf' target='_blank'
      )
        i(class='material-icons left') work
        | R&eacute;sum&eacute;
      span &nbsp;
      a(
        class='btn-large waves-effect waves-light blue-grey darken-2'
        href='https://github.com/omgimanerd' target='_blank'
      )
        i(class='fa fa-github left')
        | GitHub

  // SECOND PARALLAX
  div(class='parallax-container parallax-2')
    div(class='parallax')
      img(src='/public/img/parallax2.png')

  // WORK
  div(id='work' class='container scrollspy')
    div(class='row')
      h2(class='center-align') Highlighted Work
    div(class='row')
      each work in renderData.work
        div(class='col s12 m6 l3')
          div(class='card teal lighten-5 hoverable')
            div(class='card-image waves-effect waves-block waves-light')
              img(class='activator' src=work.image)
            div(class='card-content')
              span(class='card-title activator')= work.name
                i(class='material-icons right') expand_less
            div(class='card-action')
              a(href=work.link)= work.linkText
            div(class='card-reveal teal lighten-5')
              span(class='card-title activator')= work.name
                i(class='material-icons right') close
              p= work.description

    div(class='row center-align')
      a(
        class='btn-large waves-effect waves-light blue-grey darken-3'
        href='/public/resume.pdf' target='_blank'
      )
        i(class='material-icons left') work
        | R&eacute;sum&eacute;
      span &nbsp;
      a(
        class='btn-large waves-effect waves-light blue-grey darken-3'
        href='http://github.com/omgimanerd' target='_blank'
      )
        i(class='fa fa-github left')
        | GitHub
