include mixins.pug

doctype html

html
  head
    block title
      title Alvin Lin

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='google-site-verification' content='K6uEqFU1ofm9uCxdxm_APbmnn20xR_EGRAduwX9XSR4')

    link(
      rel='stylesheet'
      href='/public/bower/material-design-icons/iconfont/material-icons.css'
    )
    link(
      rel='stylesheet'
      href='/public/bower/font-awesome/css/font-awesome.min.css'
    )
    link(
      rel='stylesheet'
      href='/public/bower/Materialize/dist/css/materialize.min.css'
    )
    link(
      rel='stylesheet'
      href='/public/dist/minified.css'
    )

    script(src='/public/bower/jquery/dist/jquery.min.js')
    script(src='/public/bower/Materialize/dist/js/materialize.min.js')

  body
    div(class='navbar-fixed')
      nav(class='blue-grey darken-3')
        div(class='nav-wrapper')
          a(class='alpha hide-on-med-and-down' href='/') &alpha;
          a(class='button-collapse' data-activates='mobile-demo' href='#')
            i(class='material-icons') menu
          ul(class='right hide-on-med-and-down')
            li
              a(class='blue-text' href='/#skills') Skills
            li
              a(class='blue-text' href='/#work') Work
            li
              a(class='blue-text' href='/notes') Notes
            li
              a(class='blue-text' href='https://medium.com/@omgimanerd'
                target='_blank') Blog
          ul(id='mobile-demo' class='side-nav')
            li
              a(class='blue-text' href='/') Home
            li
              a(class='blue-text' href='/#skills') Skills
            li
              a(class='blue-text' href='/#work') Work
            li
              a(class='blue-text' href='/notes') Notes
            li
              a(class='blue-text' href='https://medium.com/@omgimanerd'
                target='_blank') Blog

    block body

    footer(class='page-footer blue-grey darken-2')
      div(class='container')
        div(class='row')
          div(class='col s12 m6 l6')
            h5(class='white-text') Want to contact me?
            | Email me at&nbsp;
            a(class='white-text' href='mailto:alvin@omgimanerd.tech')
              | alvin&#64;omgimanerd&#46;tech
            | &nbsp;or&nbsp;
            a(class='modal-trigger white-text' href='#contact-modal')
              | leave a message.
          div(class='col s12 m6 l6 right-align hide-on-small-only')
            h5(class='white-text') Connect with me
            a(
              href='https://twitter.com/omgimanerd'
              class='twitter-follow-button'
              data-show-count='true'
              data-size='large'
            ) Follow &#64;omgimanerd
            br
            a(
              href='https://github.com/omgimanerd'
              class='github-button'
              data-style='mega'
              data-count-href='/omgimanerd/followers'
              data-count-api='/users/omgimanerd/#followers'
            ) Follow &#64;omgimanerd
          div(class='col s12 m6 l6 left-align hide-on-med-and-up')
            h5(class='white-text') Connect with me
            a(
              href='https://twitter.com/omgimanerd'
              class='twitter-follow-button'
              data-show-count='true'
              data-size='large'
            ) Follow &#64;omgimanerd
            br
            a(
              href='https://github.com/omgimanerd'
              class='github-button'
              data-style='mega'
              data-count-href='/omgimanerd/followers'
              data-count-api='/users/omgimanerd/#followers'
            ) Follow &#64;omgimanerd
      div(class='footer-copyright blue-grey darken-3')
        div(class='container')
          | &#9400; Alvin Lin 2016. Made with Materialize and &nbsp;
          i(class='fa fa-heart red-text accent-4-text')

    include modals.pug

  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  script(
    async
    defer
    id='github-bjs'
    src='https://buttons.github.io/buttons.js'
  )
  if devMode
    script(src='/public/js/layout.js')
  else
    script(src='/public/dist/layout.min.js')

  block scripts
